gunicorn==19.9.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cryptography==2.9.2
cymem==2.0.2
cytoolz==0.9.0.1
dill==0.2.9
Flask==1.1.2
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.14.1
MarkupSafe==1.1.1
mkl-fft==1.0.6
mkl-random==1.0.1
msgpack==0.6.1
msgpack-numpy==0.4.3.2
murmurhash==1.0.2
numpy==1.15.4
plac==0.9.6
pmdarima==1.5.3
preshed==2.0.1
pycparser==2.20
pyOpenSSL==19.1.0
pyreadline==2.1
PySocks==1.7.1
regex==2020.4.4
requests==2.23.0
scikit-learn==0.22.2.post1
six==1.14.0
spacy==2.0.16
statsmodels==0.11.1
TBB==0.1
thinc==6.12.1
toolz==0.10.0
tqdm==4.46.0
ujson==2.0.3
urllib3==1.25.8
Werkzeug==1.0.1
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.10.11
